.terms-wrapper {
    /* Espaçamento externo em cima */
    margin-top: 3rem;
    /* Display flexivel */
    display: flex;
    /* Espaçamento entre elementos */
    gap: .75rem;
    /* Alinhando elementos no eixo Y */
    align-items: flex-start;

    /* Estilizando o elemento strong dentro de terms-wrapper com peso de font e cor */
    & strong {
        font-weight: 500;
        color: var(--text-highlight);
    }
}

.checkbox-wrapper {
    /* Posicao relative para que possa alterar a posicao dos elementos dentro do container */
    position: relative;

    & [type="checkbox"] {
        /* Retirando aparencia padrao */
        all: unset;
        /* Posicao absolute para que fique por cima de tudo */
        position: absolute;
        /* Definindo sua posicao como 0 */
        inset: 0;
    }

    .checkbox-image {
        /* Retirando no primeiro valor para que a imagem nao se estique, no segundo valor nao se encolha e terceiro valor um tamanho */
        flex: 0 0 1.5rem;
        /* Altura */
        height: 1.5rem;

        /* Imagem de fundo */
        background-image: url(../../assets/icons/checkbox-default.svg);
    }

    /* Estilizando elemento para quando passar o mouse em cima e estiver em foco */
    &:hover,
    &:focus-within {
        .checkbox-image {
            background-image: url(../../assets/icons/checkbox-hover.svg);
        }
    }

    /* Estilizando elemento para que quando ele tenha checked mude a imagem */
    &:has(:checked) .checkbox-image {
        background-image: url(../../assets/icons/checkbox-checked.svg);
    }
}